#img_background_building {
    filter: url(#monochrome);
}

#photo_cv_violaine{
    width: 500px;
    height: 500px;
}

.user {
    display: flex;
}

.user-infos {
    width: 500px;
    height: 500px;
    background-color: yellow;
}